<nav class="navbar navbar-expand-lg navbar-light " style=" background-color: #f38379;
background-image: linear-gradient(315deg, #f38379 0%, #ffffff 74%)">
  <div class="container-fluid">
    <a class="navbar-brand">By Categories</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="Product/625f913eeb0b035d6c213984" aria-current="page" (click)="category()" >Popular</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Product/625f672016515700bb764dd2" (click)="category()" >Anniversary cakes	</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="Product/625f67e016515700bb764dd4"   >Birthday cakes	</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Product/625f681916515700bb764dd6" (click)="category()"  tabindex="-1" >Kids cakes	</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Product/625f684316515700bb764dd8" (click)="category()"  tabindex="-1" >Designer cakes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Product/625f68cf16515700bb764dda" (click)="category()"  tabindex="-1" >Photo cakes	</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div>
  <table class="table mt-1">
    <thead>
        <tr >
            <th class="heading" scope="col">S.NO.</th>
            <th class="heading" scope="col">NAME</th>
            <th class="heading" scope="col">Price</th>
            <th class="heading" scope="col">Description</th>
            <th class="heading" scope="col">Flavour</th>
            <th class="heading" scope="col">Image</th>



            <th class="heading" scope="col">Action</th>

            <th class="heading" scope="col"></th>
        </tr>
    </thead>
    <tbody class="justify-content-center m-5">
        <tr *ngFor="let product of productList index as i ">
            <th>{{i+1}}</th>

                    <td class="td m-5">{{product.prodName}}</td>
                    <td class="td m-5">{{product.prodPrice}}</td>
                    <td  class="td m-5">{{product.prodDescription}}</td>

                    <td  class="td m-5">{{product.flavour}}</td>
                   <td> <img src={{product.prodImage}} width="80px" height="80px"></td>

            <td class="td m-5">
              <div class="dropdown" >
                <a>
                  <button style="border: none; background-color: white;" type="button"  (click)="updateProduct(product)" data-bs-toggle="modal" data-bs-target="#dal">
                    <i class="fa fa-edit"
                    style="color:blue"></i>
                  </button></a>
                  <button  style="border: none; background-color: white;" type="button" (click)="deleteProduct(product._id)" ><i class="fa fa-trash"
                    style="color:red"></i></button>

                </div>
            </td>
            <td>
        </tr>

    </tbody>
</table>
</div>

<div class="modal fade" id="dal" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update product</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="name">Name</label>
        <input type="text"[(ngModel)]="prodName" id="name" name="name" placeholder="product name..">
      </div>
      <div class="modal-body">
        <label for="price">Price</label>
        <input type="text" [(ngModel)]="prodPrice" id="price" name="price" placeholder="product price..">
      </div>
      <div class="modal-body">
        <label for="desc">Description</label>
        <input type="text" id="desc" [(ngModel)]="prodDescription" name="desc" placeholder="productdescription..">
      </div>
      <div class="modal-body">
        <label for="desc">Flavore</label>
        <input type="text" id="desc" [(ngModel)]="flavour" name="desc" placeholder="productdescription..">
      </div>
      <div class="modal-body">
      <label class="form-label" for="">Old Image</label>
      <div class="form-group"><img [src]="prodOld" width="80px" height="80px" alt=""></div>
    </div>
      <div class="modal-body">

        <label for="productImage" name="productImage" class="form-label">productImage</label>
        <input (change)="selectImage($event)" class="form-control" type="file">   </div>
      <div class="modal-footer">
        <button type="button" class="b btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="edit()" class="b btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
