<div class="name">
  <table class="table">
    <thead class="name">
        <tr >
            <th class="heading" scope="col">S.NO.</th>
            <th class="heading" scope="col">Order Information</th>

            <th class="heading" scope="col">Customer Information</th>
            <th class="heading" scope="col">STATUS</th>
        </tr>
    </thead>
    <tbody class="name">
        <tr class="">
            <th>1.</th>
                    <td class="name">
                       <img class="" src="../../assets/images/istockphoto-1294578109-170667a.jpg" width="50px" height="50px">
                        <ul class="order">Choclate Cake</ul>
                        <ul class="order"><h6>Total Price</h6>₹600</ul>
                        <ul class="order"><h6>Quantity</h6>2</ul>
                    </td>

                <td class="name mt-3">
                  <ul class="customer">priyanshu pathak</ul>
                  <ul class="customer">priyanshu@gmail.com</ul>
                  <ul class="customer">9109050769</ul>
                  <ul class="customer">153 devpruri colony Indore</ul>

                </td>

            <td> <button type="button"  class="btn btnnn mt-3 ">Panding</button><br><br><br><br>
              <button type="button"  class="btn btnn ">Deliverd</button>
            </td>
        </tr>

    </tbody>
</table>
</div>

