
<div>
  <table class="table mt-5">
    <thead>
        <tr >
            <th class="heading" scope="col">S.NO.</th>
            <th class="heading" scope="col">NAME</th>
            <th class="heading" scope="col">Mobile No.</th>
            <th class="heading" scope="col">Email</th>
            <th class="heading" scope="col">Address</th>
            <th class="heading" scope="col">Bolck</th>
        </tr>
    </thead>
    <tbody class="justify-content-center">
        <tr>
            <th>1.</th>
                    <td>Priyanshu pathak</td>
                    <td>9109050769</td>
                    <td>priyanshu@gmail.com</td>
                    <td>156 devpuri colony indore</td>
            <td> <button type="button"  class="btn">Block</button>
            </td>
        </tr>

    </tbody>
</table>
</div>
